name: test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run koopa test
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/root/compiler \
          maxxing/compiler-dev \
          autotest -koopa /root/compiler
      - name: Run riscv test
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/root/compiler \
          maxxing/compiler-dev \
          autotest -riscv /root/compiler
